.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    transition: var(--transition);
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
#light .contact_option p {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 10px;
}
#light .contact_option-icon,h4,a {
    color: #fff;
}

#light .contact_option {
    background: var(--first-color);
}
#light .contact_option:hover {
    background: transparent;
    border-color: var(--second-color);
}

#light .contact_option:hover h4 {
    color: var(--second-color);
}
#light .contact_option:hover p {
    color: var(--second-color);
}
#light .contact_option:hover .contact_option-icon {
    color: var(--second-color);
}


.contact_option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact_option-icon {
    font-size: 1.5rem;
    margin: 0.5rem;
}
.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
#light .contact_option a {
    color: var(--color-white);
}
#light .contact_option a:hover {
    color: var(--second-color);
}

/* ========= FORM =========== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
#light input {
    border-color: var(--first-color);
    color: var(--second-color);
    font-weight: 500;
}
#light textarea {
    border-color: var(--first-color);
    color: var(--second-color);
    font-weight: 500;
}
input, textarea {
    font-family: 'Poppins','Montserrat','sans-serif';
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
#light .label {
    color: #fff;
}
.btn {
    font-family: 'Poppins','Montserrat','sans-serif';
    font-weight: 500;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .container.contact_container {
        width: var(--container-width-sm);
    }
}

/* Popup */
/* .popup {
    width: 400px;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    position: absolute;
    margin: auto;
    left: 50%;
    right: 50%;
    text-align: center;
    padding: 20px 30px 30px;
    color: var(--color-white);
    transition: var(--transition);
}
.image {
    width: 3rem;
    margin: 0.8rem auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup-btn {
    width: 60%;
    margin-top: 1.5rem;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0,0,0,2);
    transition: var(--transition);
} */

/* Latest Spinning CSS */
.spinner {
    display: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0.7rem;
    /* position: absolute; */
    margin: 0.5rem;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading {
    pointer-events: none;
    padding-bottom: 0;
}

.loading .label {
    display: none;
}
.loading .spinner {
    display: block;
    margin-left: 50%;
    margin-top: 50%;
}