#light {
    --color-work-bg:hsl(var(--hue-color), 89%, 60%);
    --color-work-text: #fff;
    --color-work-line: black;
}
#light .title {
    color: var(--color-white);
}
#light .vertical-timeline-element-subtitle {
    color: var(--second-color);
    font-weight: 600;
}
#light .score {
    color: #ffff;
    font-weight: 400;
}

#dark {
    --color-work-bg:#2c2c6c;
    --color-work-text: #fff;  
    --color-work-line: black;  
}

.list-ul {
    margin: 1rem 0;
}
.list-li {
    margin: 0.5rem 0 0 1.5rem;
    list-style-type: disc;
    font-size: 0.9rem;
}
.score {
    margin: 0.5rem 0;
}
.title {
    font-size: 0.5rem;
}